.merriweather {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 1;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
  .body {
    background-color: lavenderblush;
  }
  
  .titletex {
    font-family: merriweather;
    color: #fff; /* use white instead of 'cream' */
    font-size: clamp(2rem, 3vw + 2vh, 3.4375rem); /* ~55px max */
    font-weight: 800;
  }
  
  .minitex {
    font-family: merriweather;
    color: #fff;
    font-size: clamp(1.5rem, 2vw + 1.5vh, 2.125rem); /* ~34px max */
    font-weight: 600;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    height: 180vh;
  }
  
  .boxs {
    height: 180vh;
    width: 85vh; /* Square shape */
    background-color: #e9b1cd;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
  
    color: white;
    font-size: 2rem;
    text-align: center;
  }
  .giftbor {
    width: clamp(250px, 25vw, 335px);
  height: clamp(250Px, 25vw, 335Px);
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  margin-top: 2rem;
  }
  .fitio {

    width: clamp(150px, 25vw, 250Px); /* Clamp with a min, middle, and max */
    height: auto;
  
  }
  .mami{
  
    width: 300px;
    height: auto;

  }
  .footer {
    color : green;
  }
